@model DashboardViewModel
@{
    ViewData["Title"] = "Index";

}

<h1>Main  Dashboard</h1>


<div class="container">
    @foreach (var item in Model.TileViewModels)
    {
        @await Component.InvokeAsync("tile", new { tileViewModel = item })
    }
</div>
<div class="container">
    <vc:chartjs></vc:chartjs>
 </div>
