@model BizTalk.Monitor.Web.Models.ChartJsViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the BizTalk 2020 Monitor </h1>


    @if (!User.Identity.IsAuthenticated)
    {
        <p> This Web application will</p>
        <ul class="list-group">
            <li class="list-group-item">A plain Dashboard for all BizTalk Enviroment based on hostname</li>
            <li class="list-group-item">Exception handling view</li>
            <li class="list-group-item">Resubmission possibilities for BizTalk DevOps</li>

        </ul>
        <p> But first you have to login for further possibilities</p>
    }
    else

    {
        
            <div class="list-group">
                <a asp-controller="dashboard" asp-action="Index" class="btn btn-light list-group-item-action">Goto Main Dashboard BizTalk</a>
                <br/>
                <a asp-controller="devops" asp-action="Index"  class="btn btn-light list-group-item-action">DevOps BizTalk</a>

            </div>
        
    }


</div>


