/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.container {
   max-width:90% !important;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}



/* Tiles Section */



@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300;1,400&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');

* {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}



.tile {
    width: 160px;
    height: 180px;
    border-radius: 4px;
    box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.15);
    margin-top: 20px;
    margin-left: 20px;
    float: left;
}

    .tile.wide {
        width: 340px;
    }

    .tile .header {
        height: 120px;
        background-color: #f4f4f4;
        border-radius: 4px 4px 0 0;
        color: white;
        font-weight: 300;
    }

    .tile.wide .header .left, .tile.wide .header .right {
        width: 160px;
        float: left;
    }

    .tile .header .count {
        font-size: 1.5em;
        text-align: center;
        padding: 10px 0 0;
    }

    .tile .header .title {
        font-size: 0.8em;
        text-align: center;
        font-weight:700;
    }

    .tile .body {
        height: 60px;
        border-radius: 0 0 4px 4px;
        color: #333333;
        background-color: white;
    }

        .tile .body .title {
            text-align: center;
            font-size: 1em;
            
            font-weight:bold;
            padding-top: 2%;
        }

    .tile.wide .body .title {
        padding: 4%;
    }

    .tile.job .header {
        background: linear-gradient(to bottom right, #609931, #87bc27);
    }

    .tile.job .body {
        color: #609931;
    }

    .tile.resource .header {
        background: linear-gradient(to bottom right, #ef7f00, #f7b200);
    }

    .tile.resource .body {
        color: #ef7f00;
    }

    .tile.quote .header {
        background: linear-gradient(to bottom right, #1f6abb, #4f9cf2);
    }

    .tile.quote .body {
        color: #1f6abb;
    }

    .tile.invoice .header {
        background: linear-gradient(to bottom right, #0aa361, #1adc88);
    }

    .tile.invoice .body {
        color: #0aa361;
    }

/*end Tile Section*/

/* Table CSS*/

table.dataTable td {
    height: 25vh;
    overflow-y: scroll !important;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
    bottom: .5em;
}


/* End Table CSS*/